.movie_page_container {
    padding: 90px 0;
}

.movie_page_container #banner {
    position: relative;
    filter: brightness(30%);
    z-index: 1;
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.movie_page_container .form_container {
    position: absolute;
    z-index: 1000;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.movie_page_container .form_container .genre_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    gap: 20px;
}

.movie_page_container .form_container .genre_list button {
    cursor: pointer;
    padding: .6rem 1rem;
    font-weight: 600;
    color: #5C0099;
    background-color: #fff;
    border: 3px solid #5C0099;
    border-radius: 1.2rem;
}

.movie_page_container .form_container .genre_list button.selected_genre {
    color: #fff;
    background-color: #5C0099;
    border-color: #5C0099;
}

.movie_page_container .form_container input {
    border: none;
    border-radius: 1.2rem;
    width: 35rem;
    padding: .7rem 1rem;
}

.movie_page_container .form_container input:focus {
    outline: 0;
}

.movie_page_container .form_container button {
    cursor: pointer;
    padding: .6rem 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #5C0099;
    border: none;
    border-radius: 1.2rem;
}

.movie_page_container .results_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.movie_page_container .actions_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1.5rem;
}



.movie_page_container .actions_container button {
    padding: .6rem 1rem;
    border: none;
    border-radius: 1.3rem;
    font-weight: 700;
    color: #fff;
    background-color: #343434;
    cursor: pointer;
}

.movie_page_container .actions_container button:disabled {
    color: #343434;
    background-color: #000000;
    cursor: default;
}

.movie_page_container .actions_container .current_page {
    background-color: #5C0099;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 376px) {
    .movie_page_container .form_container .genre_list {
      display: none;
    }
  
    .movie_page_container #banner {
      height: 50vh;
    }
  
    .movie_page_container .form_container {
      padding: .3rem;
      gap: 10px;
    }
  
    .movie_page_container .form_container input {
      width: 20rem;
    }

    .movie_page_container .results_container {
        padding: 1rem 0;
    }

    .movie_page_container .actions_container {
        gap: 7px;
        flex-wrap: wrap;
    }
  }


  @media (max-width: 600px) {
    .movie_page_container .form_container .genre_list {
      display: flex;
      justify-content: center;
      gap: 1px;
      padding: .1rem;
    }

    .movie_page_container .form_container .genre_list button {
        padding: .4rem;
        border-radius: 0;
        font-size: .6rem;
    }
  
    .movie_page_container #banner {
      height: 50vh;
    }
  
    .movie_page_container .form_container {
      padding: .3rem;
      gap: 10px;
    }
  
    .movie_page_container .form_container input {
      width: 20rem;
    }

    .movie_page_container .results_container {
        padding: 1rem 0;
    }

    .movie_page_container .actions_container {
        gap: 7px;
        flex-wrap: wrap;
    }
  }