.serie_container {
    padding-top: 80px;
}

.serie_container .serie_info {
    padding: 5rem;
    display: flex;
    position: absolute;
}

.serie_container #banner {
    height: 65vh;
    z-index: -1;
    filter: brightness(10%);
    object-fit: cover;
    position: relative;
    width: 100%;
}

.serie_container .serie_info img {
    width: 250px;
    margin-right: 2rem;
}

.serie_container .serie_info .infos h4, .serie_container .serie_info .infos p {
    font-size: .8rem;
}

.serie_container .serie_info .infos h4 {
    margin-top: 1.5rem;
    margin-bottom: .3rem;
}

.serie_container .serie_info .more_details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}


.serie_container .serie_info .infos .more_infos .details p{
   margin-right: 10px;
}

.serie_container .serie_info .infos .genres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.serie_container .serie_info .infos .genres p {
    padding: .4rem .6rem;
    border: 1px solid #fff;
    border-radius: 1.4rem;
    font-weight: 500;
}

.votes {
    margin: 1rem 0;
}

@media (max-width: 376px) {
    .serie_container .serie_info {
        flex-direction: column;
        justify-content: center;
    }

    .serie_container #banner {
        height: 110vh;
    }

    .serie_container .serie_info img {
        margin: .8rem 0;
        width: 130px;
    }

    .serie_container .serie_info h1 {
        font-size: .9rem;
    }

    .serie_container .serie_info .infos h4, .serie_container .serie_info .infos p {
        font-size: .6rem;
    }
}

@media (max-width: 600px) {
    .serie_container .serie_info {
        flex-direction: column;
        justify-content: center;
    }

    .serie_container #banner {
        height: 100vh;
    }

    .serie_container .serie_info img {
        margin: .8rem 0;
        width: 130px;
    }

    .serie_container .serie_info h1 {
        font-size: .9rem;
    }

    .serie_container .serie_info .infos h4, .serie_container .serie_info .infos p {
        font-size: .6rem;
    }
}