.series_genre_container {
    padding: 100px 0;
}

.genres_container {
  display: flex;
  width: 100vw;
  justify-content: center;
  gap: 15px;
  padding: 2rem 4rem;
  flex-wrap: wrap;
}

.genres_container button {
  padding: .6rem 1rem;
  background-color: #343434;
  color: #FFF;
  border: none;
  transition: .3s;
  cursor: pointer;
}

.genres_container form button.active {
  background-color: #5C0099;
  transition: .3s;
}

.genres_container button:hover {
  background-color: #5C0099;
  transition: .3s;
}

.actions_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 1rem 0;
  }
  
   .actions_container button {
    padding: .6rem 1rem;
    border: none;
    border-radius: 1.3rem;
    font-weight: 700;
    color: #fff;
    background-color: #343434;
    cursor: pointer;
  }
  
   .actions_container button:disabled {
    color: #343434;
    background-color: #000000;
    cursor: default;
  }