.about_container {
    padding: 180px 0;
    text-align: center;
    height: 100vh;
}

.about_container .title {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}


.about_container .title h1 {
    font-size: 3rem;
}

.about_container .title h1 + h1 {
    color: #5C0099;
}

.about_container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.about_container .info_container {
    padding: 3rem 15rem;
    text-align: left;
    font-size: .8rem;
}

.about_container .info_container p {
    margin: 1rem 0;
}


@media (max-width: 376px) {
    .about_container {
        height: 120vh;
        padding: 6rem 0;
    }
    .about_container .info_container {
        padding: 1rem;
    }
    .about_container .title h1 {
        font-size: 1.8rem;
    }

    .about_container h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .about_container .info_container {
        padding: 1rem;
    }
    .about_container .title h1 {
        font-size: 1.8rem;
    }

    .about_container h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .about_container {
        height: 120vh;
        padding: 2rem 0;
    }

    .about_container {
        height: 120vh;
        padding: 2rem 0;
    }
}