@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
}


body {
  overflow-x: hidden;
  background-color: #00030b;
}

h1, h2, h3, h4, h5, h6, p {
  color: #D6D6D6;
}

.header a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 5rem;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  background-color: #00030b;
  box-shadow: 0 0 2px #3a3a3a;
}

.header .title-container {
  display: flex;
  justify-content: flex-start;
}

.header .title-container h1 {
  color: #D6D6D6;
  font-size: 1.4rem;
  
}

.header .title-container h1 + h1 {
  color: #5C0099;
}

.header .nav-container a {
  color: #d6d6d6;
  font-weight: 700;
  margin: 0 1rem;
  font-size: .7rem;
}

.header .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .search-container input {
  padding: .5rem 1.2rem;
  border: none;
  border-radius: 1.2rem;
  width: 370px;
}

.header .search-container svg {
  width: 1.4rem;
  height: 1.4rem;
  color: #00030b;
  transform: translateX(-30px);
}