#banner {
    height: 65vh;
    z-index: -1;
    filter: brightness(10%);
    object-fit: cover;
    position: relative;
    width: 100%;
}

.season_page {
    padding-top: 80px;
}

.season_page .season_info {
    padding: 5rem;
    display: flex;
    position: absolute;
}

.season_page .season_info img {
    width: 250px;
    margin-right: 2rem;
}

.season_page .season_info h4, .season_page .season_info p {
    font-size: .8rem;
}

.season_page .season_info h4 {
    margin-top: 1.5rem;
    margin-bottom: .3rem;
}

.season_page .season_info .graphic {
    margin-top: 1.5rem;
}

.season_page .episode_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem;
    gap: .6rem;
    font-size: .9rem;
}

.season_page .episode_list .episode_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.season_page .episode_list .episode_info h4 {
    font-weight: 300;
}

.season_page .episode_list .episode_info h4 strong {
    font-weight: 800;
}

.season_page .episode_list a {
    font-weight: 600;
    color: #4c00ff;
    text-decoration: none;
}

.season_page .seasons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.season_page .seasons a {
    background-color: #343434;
    padding: .7rem 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}